.list {
  &-hours {
    list-style: none;
    li {
      border-bottom: 1px solid rgba($color: #808a9c, $alpha: .2);
      font-weight: bold;
      height: 90px;
      text-align: center;
      &:first-child {
        height: 40px !important;
      }
    }
  }
}